/* ===== COLOURS ===== */

/* YT DARK GREY - #303030 */

.ytd-app {
    --yt-border-radius-small: 5px;
    --yt-border-radius-medium: 10px;
    --yt-superchat-border-radius: 20px;
    --yt-hover-animation-speed: 0.2s;
    --yt-hover-scale-size: 0.95;
}

html:not([dark]) .ytd-app  {
    --yt-element-bg: rgba(0, 0, 0, 0.07);
    --yt-button-icon-button-text-color: #606060;
    --yt-continue-text-color: #505050;
    --yt-continue-border: 2px solid #dfdfdf;
    --yt-border-opacity-07: rgba(0, 0, 0, 0.07);
}

html[dark="true"] .ytd-app  {
    --yt-element-bg: #303030;
    --yt-button-icon-button-text-color: #aaa;
    --yt-continue-text-color: #d8d8d8;
    --yt-continue-border: none;
    --yt-border-opacity-07: rgba(255, 255, 255, 0.07);
}

/* ===== GENERAL ===== */

ytd-menu-popup-renderer {
    border-radius: var(--yt-border-radius-medium) !important;
}
tp-yt-paper-listbox {
    padding: 0 !important;
}

tp-yt-paper-item.ytd-menu-service-item-renderer {
    --paper-item-min-height: 43px !important;
}

ytd-multi-page-menu-renderer {
    border-radius: var(--yt-border-radius-medium);
}
ytd-compact-link-renderer, ytd-toggle-theme-compact-link-renderer {
    --paper-item-min-height: 46px !important;
}
#sections.ytd-multi-page-menu-renderer > *.ytd-multi-page-menu-renderer {
    padding: 0 !important;
}

/* ===== SEARCH BAR ===== */

#container.ytd-searchbox {
    border-radius: 7px 0 0 7px !important;
}
#search-icon-legacy.ytd-searchbox {
    width: 46px !important;
    border-radius: 0 7px 7px 0 !important;
}

/* ===== PLAYER ===== */

#player.ytd-watch-flexy {
    border-radius: var(--yt-border-radius-medium);
    overflow: hidden;
}


/* SCRUB THUMBNAIL PREVIEW */
.ytp-tooltip.ytp-preview, .ytp-tooltip.ytp-preview .ytp-tooltip-bg {
    border-radius: var(--yt-border-radius-medium) !important;
}

/* END SLATE OVERLAY BUTTONS */
.ytp-ce-expanding-overlay-background {
    border-radius: var(--yt-border-radius-medium) !important;
}
.ytp-ce-element {
    border-radius: var(--yt-border-radius-medium);
}

/* TOP INFO CARD */

.ytp-cards-teaser .ytp-cards-teaser-box {
    border-radius: 7px !important;
}

/* SIDE FLYOUT CARDS */

.iv-drawer-big.iv-drawer {
    z-index: 930;
}
.iv-card, .iv-card a.iv-click-target, .iv-card a.iv-click-target:hover, .iv-card a.iv-click-target:focus {
    border-radius: var(--yt-border-radius-medium);
}
.iv-card {
    transition: transform var(--yt-hover-animation-speed);
}
.iv-card:hover {
    transform: scale(var(--yt-hover-scale-size));
}

/* ===== CHAT ===== */

#chat.ytd-watch-flexy {
    border-radius: var(--yt-border-radius-medium);
    overflow: hidden;
}

/* #card.yt-live-chat-membership-item-renderer {
    border-radius: var(--yt-superchat-border-radius) !important;
}
#header.yt-live-chat-paid-message-renderer {
    border-top-left-radius: var(--yt-superchat-border-radius) !important;
    border-top-right-radius: var(--yt-superchat-border-radius) !important;
}
#content.yt-live-chat-paid-message-renderer {
    border-bottom-left-radius: var(--yt-superchat-border-radius) !important;
    border-bottom-right-radius: var(--yt-superchat-border-radius) !important;
} */

/* ===== CHANNEL AND COMMENTS ===== */

#owner.ytd-watch-metadata, ytd-comments-entry-point-header-renderer {
    border-radius: var(--yt-border-radius-medium) !important;
}
#owner.ytd-watch-metadata, #comment-teaser.ytd-watch-metadata, ytd-comments-entry-point-header-renderer {
    height: 63px !important;
}

tp-yt-paper-button, ytd-button-renderer[is-paper-button], ytd-toggle-button-renderer[is-paper-button] {
    border-radius: var(--yt-border-radius-small) !important;
}

ytd-button-renderer.force-icon-button a.ytd-button-renderer, ytd-download-button-renderer.force-icon-button a.ytd-download-button-renderer {
    background-color: var(--yt-element-bg);
    border-radius: var(--yt-border-radius-small);
}

ytd-comment-thread-renderer {
    padding: 10px;
    border-radius: var(--yt-border-radius-medium);
    border: 1px solid var(--yt-border-opacity-07);
}
ytd-comment-thread-renderer #replies {
    margin-top: 12px;
    margin-bottom: -12px;
}
ytd-comment-thread-renderer #replies ytd-comment-renderer {
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid var(--yt-border-opacity-07);
}
ytd-continuation-item-renderer.ytd-comment-replies-renderer {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* ===== RELATED VIDEOS ===== */

ytd-thumbnail #thumbnail.ytd-thumbnail {
    border-radius: var(--yt-border-radius-medium);
    overflow: hidden;
}

ytd-thumbnail-overlay-resume-playback-renderer {
    opacity: 0.7;
}

ytd-watch-next-secondary-results-renderer #items ytd-compact-video-renderer.previously-watched-video {
    margin-bottom: 10px;
    padding: 10px 10px 0;
    background-color: var(--yt-element-bg);
    border-radius: var(--yt-border-radius-medium);
    border: var(--yt-continue-border);
}
ytd-watch-next-secondary-results-renderer #items ytd-compact-video-renderer.previously-watched-video ytd-thumbnail {
    margin-bottom: 32px;
}
ytd-watch-next-secondary-results-renderer #items ytd-compact-video-renderer.previously-watched-video ytd-thumbnail:before {
    content: "CONTINUE WATCHING";
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 100%;
    text-align: center;
    color: var(--yt-continue-text-color);
    font-size: 9pt;
    font-weight: bold;
}

/* ytd-watch-next-secondary-results-renderer #items ytd-compact-video-renderer.previously-watched-video.new-video {
    padding-bottom: 15px;
} */

ytd-compact-video-renderer {
    transition: transform var(--yt-hover-animation-speed);
}
ytd-compact-video-renderer:hover {
    transform: translateX(10px)
}

/* ===== HOMEPAGE / THUMBNAILS ===== */

ytd-thumbnail.ytd-rich-grid-media:before {
    background-color: transparent !important;
}

/* SUBSCRIPTIONS VIDEO GRID */
ytd-browse[page-subtype="subscriptions"] ytd-grid-renderer {
    margin: -8px -4px 10px;
}
ytd-browse[page-subtype="subscriptions"] ytd-grid-renderer ytd-grid-video-renderer {
    margin: 0 !important;
    padding: 8px 4px;
    width: 16.6% !important;
    box-sizing: border-box;
    transition: transform var(--yt-hover-animation-speed);
}
ytd-browse[page-subtype="subscriptions"] ytd-grid-renderer ytd-grid-video-renderer:hover {
    transform: scale(var(--yt-hover-scale-size));
}
ytd-browse[page-subtype="subscriptions"] ytd-grid-renderer ytd-grid-video-renderer ytd-thumbnail.ytd-grid-video-renderer {
    width: 100% !important;
}

/* LIVE NOW BADGE */
.badge-style-type-live-now.ytd-badge-supported-renderer, .badge-style-type-starting-soon.ytd-badge-supported-renderer {
    padding: 3px 5px !important;
    background-color: var(--yt-spec-brand-link-text) !important;
    color: white !important;
    border-radius: var(--yt-border-radius-small) !important;
}

/* TIME OVERLAY */
ytd-thumbnail-overlay-time-status-renderer {
    padding: 4px 5px !important;
    border-radius: var(--yt-border-radius-small) !important;
}
.ytp-ce-video-duration {
    border-radius: var(--yt-border-radius-small) !important;
}